@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@400;700 & display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: 90px;
    box-shadow: 0px 3px 10px -5px  gray;
    margin-bottom: 25px;
    
}

ul{
    list-style: none;
    display: flex; 
    justify-content: space-around;
    padding: 10%;
    }
.menu-item{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 30px;
}

/* hoover */
li.menu-item:hover {
    background-color: #FFD1D1;
    color: #D83A56;
    padding: 13px;
    border-radius: 5px;
}

/* menu de navegacion*/
#menu-btn{
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
}

ul#menu {
    display: flex;
    font-size: 20px;
}

i#close-menu{
    display: none;
}

nav{
    display: none;
}
/*estilos para el menu mobile*/

body.mobile-menu-active {
    overflow: hidden;
}

body.mobile-menu-active  i#close-menu{
    display: block;
}

body.mobile-menu-active i#open-menu{
    display: none;
}

body.mobile-menu-active header{
    height: 50vh;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: height 0.3s;
}

body.mobile-menu-active nav{
    display: block;
    width: 100%;
    height: 50%;
}

body.mobile-menu-active ul#menu {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFF5E4;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

h1{
    font-size: 36px;
}



/*boton para descargar cv*/

   #cv{
    border: 0;
    background-image: linear-gradient(150deg,
    #D83A56, #FF616D, #FF9494);
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .3seg;
    display: flex;
    padding: 4px;
    margin: auto;

}

    #cv span {
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3seg;
}

    #cv:hover span {
    background: none;
}

    #cv:active{
    transform: scale(0.9);
}




h2{
    font-size: 28px;
}

.foto{
    border-radius: 50%;
    width: 300px;
    
}

p{
    margin-top: 20px;
    margin-bottom: 20px;

}







/* hoover */

a {
    text-decoration: none;
    color: inherit;
}

main {
    max-width: 1200px;
    margin: auto;
}

section{
min-height: 100vh;

}

#lila{
    background-color:  #FF9494;
    color:  #0f0f0f;
    border-radius: 20%;
    padding: 15%;
}



footer {
    background-color:  #D83A56;
    color: #fbfbfb;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;

}





@media (min-width: 1024px) {

 section#Inicio{
    display: flex;
    flex-direction: row;
    }

h1{
    font-size: 48px;
    text-align: center;
}

h2{
    font-size: 32px;
} 
article.presentacion{
    width: ;
}
 #menu-btn{
    display: none;
 }

nav{
    display: block;

}}



